annotated-types==0.7.0 ; python_version >= "3.9"
certifi==2025.8.3 ; python_version >= "3.9"
charset-normalizer==3.4.3 ; python_version >= "3.9"
googleapis-common-protos==1.70.0 ; python_version >= "3.9"
grpcio==1.74.0 ; python_version >= "3.9"
idna==3.10 ; python_version >= "3.9"
importlib-metadata==8.7.0 ; python_version >= "3.9"
markdown-it-py==3.0.0 ; python_full_version >= "3.9.0"
mdurl==0.1.2 ; python_full_version >= "3.9.0"
opentelemetry-api==1.36.0 ; python_version >= "3.9"
opentelemetry-distro==0.57b0 ; python_version >= "3.9"
opentelemetry-exporter-otlp-proto-common==1.36.0 ; python_version >= "3.9"
opentelemetry-exporter-otlp-proto-grpc==1.36.0 ; python_version >= "3.9"
opentelemetry-exporter-otlp-proto-http==1.36.0 ; python_version >= "3.9"
opentelemetry-exporter-otlp==1.36.0 ; python_version >= "3.9"
opentelemetry-instrumentation==0.57b0 ; python_version >= "3.9"
opentelemetry-proto==1.36.0 ; python_version >= "3.9"
opentelemetry-sdk==1.36.0 ; python_version >= "3.9"
opentelemetry-semantic-conventions==0.57b0 ; python_version >= "3.9"
packaging==25.0 ; python_version >= "3.9"
protobuf==6.32.0 ; python_version >= "3.9"
pydantic-core==2.33.2 ; python_version >= "3.9"
pydantic==2.11.7 ; python_version >= "3.9"
pygments==2.19.2 ; python_full_version >= "3.9.0"
python-dotenv==1.1.1 ; python_version >= "3.9"
requests==2.32.4 ; python_version >= "3.9"
rich==14.1.0 ; python_full_version >= "3.9.0"
typing-extensions==4.14.1 ; python_version >= "3.9"
typing-inspection==0.4.1 ; python_version >= "3.9"
urllib3==2.5.0 ; python_version >= "3.9"
wrapt==1.17.3 ; python_version >= "3.9"
zipp==3.23.0 ; python_version >= "3.9"
