body {
    font-size: 1.2em;
    font-family: system-ui !important;
}

h2 {
    font-size: 1.8rem !important;
    line-height: 0.4rem;
}

h3 {
    font-size: 1.3rem !important;
    line-height: 1.4rem;
}

p a {
    color: gray !important;
    text-underline-position: under;
}

code a {
    color: var(--color-white) !important;
    text-underline-position: under;
}

p a:focus,
p a:hover {
  color: gray !important;
}

code a:focus,
code a:hover {
  color: gray !important;
}

code.doc-symbol-class, a code.doc-symbol-class {
    color: var(--color-white);
    background-color: var(--background);
}

code.doc-symbol-method, a code.doc-symbol-method {
    color: var(--color-white);
    background-color: var(--background);
}

code.doc-symbol-attribute, a code.doc-symbol-attribute {
    color: var(--color-white);
    background-color: var(--background);
}

code.doc-symbol-function, a code.doc-symbol-function {
    color: var(--color-white);
    background-color: var(--background);
}

table {
    border-collapse: collapse;
    width: -webkit-fill-available !important;
}

[data-md-color-scheme=slate] {
    --md-default-fg-color: hsla(var(--md-hue), 15%, 90%, 1);
}